.home {
  background-color: hsl(204, 15%, 94%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 22px 14px 0 22px;
    overflow: hidden;
  }
}