.gold_item {
  display: flex;
  padding: 5px 15px 5px 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  .count {

  }
  .title {
    max-width: 100%;
    font-size: 15px;
    line-height: 1.8;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
}